body {
    margin: 15%;
}

.goal{
    font-size: 15px;
}
.col2{
    display: inline-block;
    position: relative;
    bottom: 15px;
}
.row1{
    border-bottom: 1px solid grey;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;

}
.row2{
    border-bottom: 1px solid grey;
   padding-left: 10px;
   margin-bottom: 10px;
   font-size: 15px;
}
.col1{
   display: inline-block;
   vertical-align: top;
 
}
 .col2{
    display: inline-block;
    vertical-align: top;
  
}
.projectname{
    text-transform: uppercase;
    text-size-adjust: 30px;
}
.pic{
    position: absolute;
    top: 5%;
    left: 80%;
}
.section-content{
    display: inline;
    width: 40px;
    height: 40px;
    font-size: 15px;
    

}
.section-title{
    text-transform: uppercase ;
    border-bottom: solid;
}
.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;    
	vertical-align: baseline;
	text-decoration: none;
	margin: 40px;
	padding: 40px;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 40px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #ffffff;
    position: relative;

    padding: 40px
}
